body {
  width: 100%;
  background: url("background.png") no-repeat fixed center;
  background-size: 101%;
}

header {
  margin: 0;
  width: 100%;
  height: 850px;
}

/* NAVIGATION */

nav {
  position: fixed;
  text-align: center !important;
  background: #ffffff;
  margin-top: 10px;
  z-index: 1;
}

nav > ul > li {
  padding: 20px 20px;
  display: inline-block;
}

nav > ul > li > a {
  text-decoration: none;
  list-style-type: none;
  color: #000000;
  font-family: "Major Mono Display", monospace;
  font-size: 20px;
}

nav > ul > li:hover {
  /* ADD WEBKIT */
  transform: rotate(-180deg);
}

#msg {
  color: #000000;
  font-size: 40px;
  padding: 25% 5%;
  float: right;
  font-family: "Roboto Mono", monospace;
}

.container {
  width: 100%;
  height: 2800px;
}

.sectionHead {
  font-family: "Major Mono Display", monospace;
  float: right;
  /* ADD WEBKIT */
  transform: rotate(90deg);
  font-size: 30px;
  padding: 50px 10px;
}

/* ABOUT  */

.b1 {
  background: #fafafa;
  width: 90%;
  height: 600px;
  margin: 50px 0px;
  float: left;
}

.aboutPic {
  width: 355px;
  height: 325px;
  margin-top: 140px;
  margin-left: 50px;
  border-radius: 50%;
}

#description {
  margin-left: 400px;
  margin-right: 200px;
  margin-top: -300px;
  padding: 20px;
  text-align: center;
}

.name {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1px;
}

.des1 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 20px;
}

/* SKILLS */

.b2 {
  background: #fafafa;
  width: 90%;
  height: 600px;
  margin: 50px 0px;
  float: right !important;
}

#skills-text {
  position: absolute;
  width: 30%;
  margin-top: 200px;
  margin-left: 700px;
  font-family: "Raleway", sans-serif;
}

#skills-text .title {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 200;
  line-height: 2px;
}

#skills-text > ul > li {
  font-size: 16px;
  font-weight: 200;
}

#skills {
  position: relative;
  margin-top: 40px;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

#skills p {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: -5px;
}

i {
  font-size: 48px;
}

.jquery {
  width: 50px;
  height: 50px;
}

.redux {
  margin-top: -2px;
  margin-bottom: 2px;
  width: 80px;
  height: 60px;
}

.boot {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 45px;
  height: 45px;
}

/* PROJECTS  */
.b3 {
  background: #fafafa;
  width: 90%;
  height: 600px;
  margin: 50px 0px;
  float: left;
}

.projects {
  padding-top: 86px;
  padding-left: 40px;
}

figure.display {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 21.5%;
  height: 21.5%;
  color: #646464;
  text-align: center;
  border-radius: 50%;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
}

.projectLi {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  text-align: start;
}

figure.display * {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.display img {
  width: 140%;
  opacity: 0.2;
}

figure.display figcaption {
  position: absolute;
  margin: 65px 40px;
  display: inline-block;
  padding: 5px 5px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.display:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background: #d4d4d4;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.display.overlay {
  background: #f1f1f1;
}

figure.display:hover img,
figure.display.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.display:hover figcaption,
figure.display.hover figcaption {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.display:hover:before,
figure.display.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

/* CONTACT */

.b4 {
  background: #fafafa;
  width: 90%;
  height: 600px;
  margin: 50px 0px;
  float: right !important;
}

form {
  position: absolute;
  margin-top: 100px;
  margin-left: 400px;
}

input {
  width: 400px;
  height: 30px;
  margin: 15px 0px;
  border-bottom: 1px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #fafafa;
}

input::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.message {
  /* fix placeholder location */
  height: 100px;
  border: 1px solid #000000;
}

button {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin-top: 10px;
  width: 400px;
  height: 30px;
  box-shadow: none;
  background: #000000;
  color: #ffffff;
  border: 1px solid black;
}

.fa-angle-double-right {
  font-size: 12px;
}

button:hover {
  background: #ffffff;
  color: #000000;
}

/* FOOTER */

footer {
  background: #ffffff;
  color: #8f8f8f;
  height: 100px;
  width: 100%;
  margin-bottom: -200px;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding-top: 30px;
}

.social {
  margin-top: -50px;
  margin-right: 90px;
  float: right;
}

.fa-linkedin-in {
  font-size: 20px;
  color: #8f8f8f;
  padding: 10px;
}

.fa-github {
  font-size: 20px;
  color: #8f8f8f;
  padding: 10px;
}
